/* ===== ADMIN LAYOUT STRUCTURE ===== */
.admin-layout {
  display: flex;
}

.admin-content {
  margin-left: 230px;   /* pushes content right of sidebar */
  width: 100%;
}

.admin-container {
  padding: 30px;
  font-family: Arial, sans-serif;
  background: linear-gradient(
      rgba(253, 251, 251, 0.9),
      rgba(255, 252, 252, 0.6)
    ),
    linear-gradient(135deg, #ff9800, #ffaf72);
  min-height: 100vh;
  color: rgb(14, 14, 14);
}

.admin-title {
  margin-bottom: 20px;
}

.no-data {
  color: #cbd5e1;
}

.shop-card {
  border: 1px solid #334155;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
  background: linear-gradient(90deg, #ff6f00,#ff9800);
}

.shop-card h3 {
  margin-bottom: 8px;
  color: #38bdf8;
}

.approve-btn {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.decline-btn {
  padding: 8px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Admin Sidebar Styles */
.sidebar {
  width: 230px;
  background: linear-gradient(90deg, #f58c3c,#feb03a);
  color: #b71316;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.sidebar-logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.side-link {
  display: block;
  padding: 10px 12px;
  border-radius: 8px;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.2s;
}

.side-link:hover {
  background: #334155;
  color: white;
}

.side-link.active {
  background: #3f0607;
  color: white;
}

.sidebar-footer {
  margin-top: auto;
  font-size: 14px;
  color: #94a3b8;
}
.approved-title {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #22c55e;
}

.approved-card {
  border: 1px solid #14532d;
  background-color: #0f2e1f;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
}
